@model IEnumerable<TeleTime.Models.WorkDay>


<h2>Datum med passet</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shifts.ShiftName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shifts.ShiftName)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Tillbaka till pass", "Index")
</div>
