@model IEnumerable<TeleTime.Models.Shift>

@{
    ViewBag.Title = "Index";
}

<h2>Pass</h2>

<p>
    @Html.ActionLink("Skapa nytt arbetspass", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Shiftnamn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShiftName)
        </td>
        <td>
            @*@Html.ActionLink("EditName", "Edit", new { id = item.ID }) |*@ <!-- TODO - Known bug with this one. -->
            @Html.ActionLink("Datum med passet", "DetailsAboutShift", new { id = item.ID }) |
            @Html.ActionLink("Ändra med passet", "ShowShift", "WorkShift", new { id = item.ID }, null) |
            @Html.ActionLink("Ta bort pass", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
