@model TeleTime.Models.WorkShift

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort arbetspass</h2>

<h3>Är du säker på att du vill ta bort arbetspasset?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Namn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            Roll
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>

        <dt>
            Pass
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>

        <dt>
            Tid
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time.WorkTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till passet", "ShowShift", new { id = Model.ShiftID })
        </div>
    }
</div>
