@model TeleTime.Models.WorkShift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkShift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShiftNameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkShiftID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
