@model IEnumerable<TeleTime.Models.WorkShift>

@{
    ViewBag.Title = "ShowShift";
}

@{int shiftId = ViewBag.ID; string shiftName = ViewBag.Name; }

<h2>Passöversikt - @shiftName</h2>

<table class="table">
    <tr>
        <th>
            Namn
        </th>
        <th>
            Roll
        </th>
        <th>
            Shift
        </th>
        <th>
            Tid
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.WorkTime)
            </td>
            <td>
                @Html.ActionLink("Ändra", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = item.ID })
            </td>
        </tr>

        shiftId = item.Shift.ID;
    }

    <p>
        @Html.ActionLink(
            linkText: "Lägg till ett shift",
            actionName: "Create",
            routeValues: new {id = shiftId})
    </p>

</table>
<div>
    @Html.ActionLink("Tillbaka till pass", "Index", "Shift")
</div>
<br />
<div>
    @Html.ActionLink("Tillbaka till kalendern", "Index", "BasicScheduler")
</div>
