@model IEnumerable<TeleTime.Models.WorkShift>

@{
    ViewBag.Title = "ShowShift";
}

@{int shiftId = 0;}

<h2>ShowShift</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift.ShiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time.StartTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.StartTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>

        shiftId = item.Shift.ID;
    }

    <p>
        @Html.ActionLink(
            linkText: "Create New",
            actionName: "Create",
            routeValues: new {id = shiftId})
    </p>

</table>
