@model IEnumerable<TeleTime.Models.WorkDay>

@{
    ViewBag.Title = "Index";
}

<h2>Arbetsdag</h2>

<p>
    @Html.ActionLink("Skapa ny arbetsdag", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day.Date)
        </th>
        <th>
            Passnamn
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shifts.ShiftName)
        </td>
        <td>
            @Html.ActionLink("Ändra", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Ta bort", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
