@model IEnumerable<TeleTime.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h3>Person</h3>

@if ((User.IsInRole("Admin")) || (User.IsInRole("Developer")))
{
    <p>
        @Html.ActionLink("Skapa ny person", "Create")
    </p>
    <p>
        @Html.ActionLink("Ladda upp personer med excel", "Upload")
    </p>
}

@using (Html.BeginForm())
{
    <p>
        Sök på namn: @Html.TextBox("searchString")
        <input type="submit" value="Sök" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Namn:
        </th>
        <th>
            @Html.ActionLink("Sortera på namn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if ((User.IsInRole("Admin")) || (User.IsInRole("Developer")))
            {
                <td>
                    @Html.ActionLink("Ändra namn på person", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Ta bort person", "Delete", new { id = item.ID })
                </td>
            }
            <td>
                @Html.ActionLink("Visa persons alla pass", "ShowPersonWorkShifts", new { id = item.ID }) |
                @Html.ActionLink("Visa persons alla arbetsdagar", "ShowPersonWorkDays", new { id = item.ID })
            </td>
        </tr>
    }

</table>
