@model TeleTime.Models.Time

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort tid</h2>

<h3>Är du säker på att du vill ta bort tiden?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till tid", "Index")
        </div>
    }
</div>
